<hr>
<div class="small-6 columns">
    Sille Van Landschoot
</div>
<div class="small-6 columns">
    <ul class="menu align-right">
        <li><a href="#">Contact</a></li>
        <li><a href="#">News</a></li>
    </ul>
</div>
